:root {
  --meras-green: #3DB87A;
  --meras-green-dark: #2A8C5C;
  --meras-yellow: #EEBF10;
  --meras-orange: #E8622A;
  --meras-bg: #F0F2F0;
  --meras-text: #1A0A00;
  --meras-gray: #6B7280;
  --meras-border: #E5E7EB;
}


body {
  background-color: var(--meras-bg);
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--meras-text);
}

/* Custom Bootstrap color overrides */
/* why we use !important -> becuase bootstrap has its own primary colors, and we want to override them */

.btn-primary {
  background-color: var(--meras-green) !important;
  border-color: var(--meras-green) !important;
}

.btn-primary:hover {
  background-color: var(--meras-green-dark) !important;
  border-color: var(--meras-green-dark) !important;
}

.text-primary {
  color: var(--meras-green) !important;
}

.bg-primary {
  background-color: var(--meras-green) !important;
}

.border-primary {
  border-color: var(--meras-green) !important;
}

.btn-yellow {
  border: 2px solid var(--meras-yellow) !important;
  color: var(--meras-text) !important;
  background-color: transparent !important;
}